/*apply bootstrap style sheet to app component?*/
@import "~bootstrap/dist/css/bootstrap.css";

.navbar {
    background-color: #4d9934 !important;
}

a {
	cursor: pointer;
}

.btn-primary {
	background-color: #4d9934 !important;
}

.card-header {
	background-color:  #4d9934 !important;
}
.sidebar {
	width: 225px !important;
	background-color: #4d9934 !important;
	min-height: calc(100vh - 56px);
}
.nav-link {
	color: white !important;
	cursor: pointer;
}

#wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  }
  
  #wrapper #content-wrapper {
	overflow-x: hidden;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 80px;
  }
  
  body.fixed-nav #content-wrapper {
	margin-top: 56px;
	padding-left: 90px;
  }
